<html>
    <head>
        <meta charset="utf-8" />
        <!-- import echarts  -->
        <script src="../static/js/echarts.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <div class="about" id="content">
            <h1>关于我们</h1>
            <p>
                    本次可视化网页是课程CS239-数据可视化与可视分析的课程项目，本可视化网页的主题是
                “2022上海疫情的可视化与数据分析"。我们选择本题目的主要原因是，我们身在上海，对此次疫
                情的感触十分深刻，想通过数据可视化以及相关的数据分析，帮助浏览本网页的人更好的了解上海
                现在的疫情发展情况以及发展趋势，以制定对应的对策以及时间规划与打算。
            </p>
            <h1>组员</h1>
            <p>
                纪信佑 519021910838<br/>
                刘永翔 519021910029<br/>
                郭奕臻 519021910507<br/>
                吴雨桐 519030910256<br/>
            </p>

        </div>
        <div class="top">
            <nav>
                <ul>
                    <li>
                        <a href="/">全市信息概览</a>
                    </li>

                    <li>
                        <a href="/sentiment">舆情分析</a>
                    </li>

                    <li>
                        <a href="/district">全市分区统计数据</a>
                    </li>

                    <li style="float: right">
                        <a class="active" href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>