<html>
    <head>
        <meta charset="utf-8" />
        <!-- import echarts  -->
        <script src="../static/js/echarts.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
	<div class="charts">
	    <div id="PudongNew1"></div>
	    <div id="PudongNew2"></div>
	    <div id="Huangpu1"></div>
	    <div id="Huangpu2"></div>
	    <div id="Jingan1"></div>
	    <div id="Jingan2"></div>
	    <div id="Xuhui1"></div>
	    <div id="Xuhui2"></div>
	    <div id="Changning1"></div>
	    <div id="Changning2"></div>
	    <div id="Putuo1"></div>
	    <div id="Putuo2"></div>
	    <div id="Hongkou1"></div>
	    <div id="Hongkou2"></div>
	    <div id="Yangpu1"></div>
	    <div id="Yangpu2"></div>
	    <div id="Baoshan1"></div>
	    <div id="Baoshan2"></div>
	    <div id="Minhang1"></div>
	    <div id="Minhang2"></div>
	    <div id="Jiading1"></div>
	    <div id="Jiading2"></div>
	    <div id="Jinshan1"></div>
	    <div id="Jinshan2"></div>
	    <div id="Songjiang1"></div>
	    <div id="Songjiang2"></div>
	    <div id="Qingpu1"></div>
	    <div id="Qingpu2"></div>
	    <div id="Fengxian1"></div>
	    <div id="Fengxian2"></div>
	    <div id="Chongming1"></div>
	    <div id="Chongming2"></div>
	</div>

        <div class="top">
            <nav>
                <ul>
                    <li>
                        <a href="/">全市信息概览</a>
                    </li>

                    <li>
                        <a href="/sentiment">舆情分析</a>
                    </li>

                    <li>
                        <a href="/district" class="active">全市分区统计数据</a>
                    </li>

                    <li style="float: right">
                        <a class="active" href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
