<html>
    <head>
        <meta charset="utf-8" />
        <!-- import echarts  -->
        <script src="../static/js/echarts.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <div class="top">
            <nav>
                <ul>
                    <li>
                        <a href="/">全市信息概览</a>
                    </li>

                    <li>
                        <a href="/sentiment">舆情分析</a>
                    </li>

                    <li>
                        <a href="/district" class="active">全市分区统计数据</a>
                    </li>

                    <li style="float: right">
                        <a class="active" href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>