<html>
    <head>
        <meta charset="utf-8" />
        <!-- import echarts  -->
        <script src="../static/js/echarts.js"></script>
        <script src="../static/js/datacharts.js"></script>
        <script src="../static/js/utils.js"></script>
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <!-- chart doms -->
        <div id="qz_today" class="info"></div>
        <div id="wzz_today" class="info"></div>
        <div id="qz_cumu" class="info"></div>
        <div id="wzz_cumu" class="info"></div>
        <div id="from">统计自2022年4月1日</div>

        <div id="indexchart1"></div>
        <div id="indexchart2"></div>

	<button id="charttoggle" onclick="toggle()">柱状图</button>

        <div class="top">
            <!-- title -->
            <div class="title">上海疫情信息可视化 - Visualization of Omicron Pandemic in Shanghai</div>

            <!-- navigation bar -->
            <nav>
                <ul>
                    <li>
                        <a href="/" class="active">全市信息概览</a>
                    </li>

                    <li>
                        <a href="/sentiment">舆情分析</a>
                    </li>

                    <li>
                        <a href="/district">全市分区统计数据</a>
                    </li>

                    <li style="float: right">
                        <a class="active" href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- map iframe, imported from backend -->
        <iframe id="map", src="/map"></iframe>
    </body>

    <script>
        var qz_today = document.getElementById('qz_today')
        var wzz_today = document.getElementById('wzz_today')
        var qz_cumu = document.getElementById('qz_cumu')
        var wzz_cumu = document.getElementById('wzz_cumu')

        var date = get_latest_date({{qz|safe}}, 'Shanghai');
        var val_qz_today = get_latest_data({{qz|safe}}, 'Shanghai');
        var val_wzz_today = get_latest_data({{wzz|safe}}, 'Shanghai');
        qz_today.innerHTML = "<smaller>上海市" + date + "新增确诊病例</smaller><br/>共 " + val_qz_today + " 例";
        wzz_today.innerHTML = "<smaller>上海市" + date + "新增无症状病例</smaller><br/>共 " + val_wzz_today + " 例";

        var val_qz_cumu = get_cumulative({{qz|safe}}, 'Shanghai');
        var val_wzz_cumu = get_cumulative({{wzz|safe}}, 'Shanghai');
        qz_cumu.innerHTML = "<smaller>上海市累计确诊病例</smaller><br/>共 " + val_qz_cumu + " 例";
        wzz_cumu.innerHTML = "<smaller>上海市累计无症状病例</smaller><br/>共 " + val_wzz_cumu + " 例";

        draw_line_chart("indexchart1", "Shanghai", {{qz|safe}}, {{p_qz|safe}}, "上海确诊病例人数(红色为预测值)");
        draw_line_chart("indexchart2", "Shanghai", {{wzz|safe}}, {{p_wzz|safe}}, "上海无症状病例人数(红色为预测值)");

        function toggle() {
            var btn = document.getElementById('charttoggle')
            if (btn.innerText == "折线图") {
                btn.innerText = "柱状图";
                draw_line_chart("indexchart1", "Shanghai", {{qz|safe}}, {{p_qz|safe}}, "上海确诊病例人数(红色为预测值)");
                draw_line_chart("indexchart2", "Shanghai", {{wzz|safe}}, {{p_wzz|safe}}, "上海无症状病例人数(红色为预测值)");
            } else {
                btn.innerText = "折线图";
                draw_bar_chart("indexchart1", "Shanghai", {{qz|safe}}, {{p_qz|safe}}, "上海确诊病例人数(红色为预测值)");
                draw_bar_chart("indexchart2", "Shanghai", {{wzz|safe}}, {{p_wzz|safe}}, "上海无症状病例人数(红色为预测值)");
            }
        }
    </script>
</html>
