<html>
    <head>
        <meta charset="utf-8" />
        <!-- import echarts  -->
        <script src="../static/js/echarts.js"></script>
        <!-- import sentiment analysis js -->
        
        <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    </head>

    <body>
        <div id="sent">
            <div class="overall">
                <h1>全局舆情分析</h1>

                <img id="word_cloud" src="../static/images/4_3.png" alt="加载失败">

                <div id="emo_in_all" ></div>

                <div id="box_line" ></div>
            </div>

            <div class="perday">
                <h1>每日舆情分析</h1>
                <div class="slider">
                    <!-- 显示选择的数值容器 -->
                    <span id="selected">
                      4月2日
                    </span>
                    <!-- 滑动选择器 -->
                    <input type="range" id="slider-input" min="0" max="56" value="0" />
                </div>

                <!-- <select id="mylink"></select> -->

                <!-- <input type="button" id="btn" value="显示" onclick="setsubmit(this)" />  -->

                <div id="word_count" ></div>

                <div id="emo_daily" ></div>

            </div>
        </div>

        <div class="top">
            <nav>
                <ul>
                    <li>
                        <a href="/">全市信息概览</a>
                    </li>

                    <li>
                        <a href="/sentiment" class="active">舆情分析</a>
                    </li>

                    <li>
                        <a href="/district">全市分区统计数据</a>
                    </li>

                    <li style="float: right">
                        <a class="active" href="/about">关于我们</a>
                    </li>
                </ul>
            </nav>
        </div>
        <script src="../static/js/senti_js.js"></script>
        <script type="text/javascript">
            showplot()
            setsubmit(0)
        </script> 

    </body>
</html>
