<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="000f7e618e6b4caebd8b4d41444ecd6a" class="chart-container" style="width:400px; height:300px;"></div>
    <script>
        var chart_000f7e618e6b4caebd8b4d41444ecd6a = echarts.init(
            document.getElementById('000f7e618e6b4caebd8b4d41444ecd6a'), 'white', {renderer: 'canvas'});
        var option_000f7e618e6b4caebd8b4d41444ecd6a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5f53\u65e5\u65e0\u75c7\u72b6\u75c5\u4f8b",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "4-1",
                    6051.0
                ],
                [
                    "4-2",
                    7788.0
                ],
                [
                    "4-3",
                    8581.0
                ],
                [
                    "4-4",
                    13086.0
                ],
                [
                    "4-5",
                    16766.0
                ],
                [
                    "4-6",
                    19660.0
                ],
                [
                    "4-7",
                    20398.0
                ],
                [
                    "4-8",
                    22609.0
                ],
                [
                    "4-9",
                    23937.0
                ],
                [
                    "4-10",
                    25173.0
                ],
                [
                    "4-11",
                    22348.0
                ],
                [
                    "4-12",
                    25141.0
                ],
                [
                    "4-13",
                    25146.0
                ],
                [
                    "4-14",
                    19872.0
                ],
                [
                    "4-15",
                    19923.0
                ],
                [
                    "4-16",
                    21582.0
                ],
                [
                    "4-17",
                    19831.0
                ],
                [
                    "4-18",
                    17332.0
                ],
                [
                    "4-19",
                    16407.0
                ],
                [
                    "4-20",
                    15861.0
                ],
                [
                    "4-21",
                    15698.0
                ],
                [
                    "4-22",
                    20634.0
                ],
                [
                    "4-23",
                    19657.0
                ],
                [
                    "4-24",
                    16983.0
                ],
                [
                    "4-25",
                    15319.0
                ],
                [
                    "4-26",
                    11956.0
                ],
                [
                    "4-27",
                    9330.0
                ],
                [
                    "4-28",
                    9545.0
                ],
                [
                    "4-29",
                    8932.0
                ],
                [
                    "4-30",
                    7084.0
                ],
                [
                    "5-1",
                    6606.0
                ],
                [
                    "5-2",
                    6108
                ],
                [
                    "5-3",
                    4857
                ],
                [
                    "5-4",
                    4006
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5f53\u65e5\u65e0\u75c7\u72b6\u75c5\u4f8b"
            ],
            "selected": {
                "\u5f53\u65e5\u65e0\u75c7\u72b6\u75c5\u4f8b": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "4-1",
                "4-2",
                "4-3",
                "4-4",
                "4-5",
                "4-6",
                "4-7",
                "4-8",
                "4-9",
                "4-10",
                "4-11",
                "4-12",
                "4-13",
                "4-14",
                "4-15",
                "4-16",
                "4-17",
                "4-18",
                "4-19",
                "4-20",
                "4-21",
                "4-22",
                "4-23",
                "4-24",
                "4-25",
                "4-26",
                "4-27",
                "4-28",
                "4-29",
                "4-30",
                "5-1",
                "5-2",
                "5-3",
                "5-4"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e0a\u6d77\u5f53\u65e5\u65e0\u75c7\u72b6\u75c5\u4f8b(\u5411\u540e\u9884\u6d4b3\u5929)",
            "top": "20px",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_000f7e618e6b4caebd8b4d41444ecd6a.setOption(option_000f7e618e6b4caebd8b4d41444ecd6a);
    </script>
</body>
</html>
