/** ============================================= */
#map {
    position: absolute;
    top: 10vh;
    left: 0px;
    height: 80vh;
    width: 70vw;
}

/**
 * Following are charts' dom in index.html, right hand side
 */

#charttoggle {
  position: absolute;
  top: 2vh;
  right: 2vw;
    
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0faa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#charttoggle:hover {background-color: #04aa6d}

#charttoggle:active {
  background-color: #04aa6d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#from {
    position: absolute;
    right: 3vw;
    top: 33vh;
    font-size: 8px;
    font-weight: bold;
}

.info {
    background-color: #222;
    font-family: "微软雅黑", "黑体", "宋体";
    font-size: 22px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 0.5em 0;
}

#qz_today {
    position: absolute;
    top: 10vh;
    left: 72vw;
    width: 12vw;
    height: 10vh;
    border: white solid;
    border-radius: 15px;
    background-color: #ff1313;
    color: white;
}

#wzz_today {
    position: absolute;
    top: 10vh;
    right: 3vw;
    width: 12vw;
    height: 10vh;
    border: white solid;
    border-radius: 15px;
    background-color: #f87d09;
    color: white;
}

#qz_cumu {
    position: absolute;
    top: 22vh;
    left: 72vw;
    width: 12vw;
    height: 10vh;
    border: white solid;
    border-radius: 15px;
    background-color: #f84e4e;


}

smaller {
    font-size: 10px;
}

#wzz_cumu {
    position: absolute;
    top: 22vh;
    right: 3vw;
    width: 12vw;
    height: 10vh;
    border: white solid;
    border-radius: 15px;
    background-color: #f58945;

    color: white;
    text-align: center;
}

#indexchart1 {
    position: absolute;
    top: 35vh;
    right: 0px;
    height: 30vh;
    width: 28vw;
}

#indexchart2 {
    position: absolute;
    top: 65vh;
    right: 0px;
    height: 30vh;
    width: 28vw;
}

* {
    box-sizing: border-box;
}

.about {
    text-align: center;
    background-color: #222;
    font-family: "微软雅黑", "黑体", "宋体";
    font-size: 15px;
}

/** ============================================= */
/** ============================================= */
/** ============================================= */
/** ============================================= */
/** ============================================= */

#content {
    color: rgb(255, 255, 255);
    font: 0.875em/1.5em "PTSans", "Arial", sans-serif;
    font-size: 16px;
}

#content p {
    padding: 5vh 10vw;
    line-height: 2em;
}

/* ======================= */
/* |                      |*/
/* |      SENTIMENT       |*/
/* |                      |*/
/* ======================= */

.overall {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 55vh;
    width: 100vw;
    border-bottom: white solid;
}

.perday {
    position: absolute;
    top: 55vh;
    left: 0px;
    height: 40vh;
    width: 100vw;
}

#word_cloud {
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 30vw;
    height: 40vh;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
}

#emo_in_all {
    position: absolute;
    top: 27vh;
    left: 37vw;
    width: 62vw;
    height: 25vh;
    border-style: hidden;
    border-width: 2px;
    box-sizing: border-box;
}

#box_line {
    position: absolute;
    top: 5vh;
    left: 33vw;
    width: 68vw;
    height: 22vh;
    box-sizing: border-box;
    border-width: 2px;
    border-style: hidden;
}

#word_count {
    position: absolute;
    top: 20%;
    left: 0px;
    border-width: 2px;
    width: 50vw;
    height: 30vh;
    border-style: hidden;
    box-sizing: border-box;
}

#slider {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 5%;
    box-sizing: border-box;
}
#selected {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 5%;
    height: 7%;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #04aa6d;
    text-align: center;
    color: white;
    border-radius: 4px;
}
#slider-input {
    position: absolute;
    top: 5.5%;
    left: 21%;
    width: 60%;
    height: 5%;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 6px rgb(71, 197, 115);
    background: linear-gradient(75deg, #6da83a 0%, #7a7b56 100%);
}
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #2a6a4d;
    box-shadow: 0 0 0 6px rgba(54, 181, 54, 0.4);
  }
input[type="range"] {
    /* 禁用浏览器默认外观 */
    -webkit-appearance: none;
    background: linear-gradient(75deg, #72738f 0%, #575fcf 100%);
    border-radius: 4px;
    outline: none;
    box-shadow: 0 0 6px rgb(28, 32, 148);
  }
  
  /* 滑动选择器上的滑动按钮 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #b9dfcf;
    transition: 0.3s;
  }

#emo_daily {
    position: absolute;
    top: 30%;
    left: 50vw;
    width: 50%;
    height: 70%;
    box-sizing: border-box;
    border-style:hidden;
    border-width: 2px;
}

#sent h1 {
    color: #ffffff;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 48px;
    text-decoration: underline;
    margin: 0.5em;
    background-color: #04aa6d;
    display: inline-block;
    border-radius: 12px;
}

#sent h2 {
    color: #7c795d;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
}

#sent .subheader {
    font-size: 26px;
    font-weight: 300;
    color: #ffcc66;
    margin: 0 0 24px;
}

#sent p {
    color: #4c4a37;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px;
}

#sent a {
    color: #ff9900;
    background: #fff4a3;
    text-decoration: none;
}

#sent a:hover {
    color: #ffcc66;
}

/* ======================= */
/* |                      |*/
/* |      DISTRICTS       |*/
/* |                      |*/
/* ======================= */
.map_dist{
    position: absolute;
    top: 17vh;
    left: -30vw;
    height: 90vh;
    width: 100vw;
}

.charts {
    width: 100vw;
    height: 30vh;
    right: 0px;
    top: 0vh;
    position: absolute;
}

.charts * {}

#char1 {
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 50vw;
    height: 30vh;
}

#char2 {
    position: absolute;
    top: 50vh;
    right: 5vw;
    width: 50vw;
    height: 30vh;
}


#district-title {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-weight: bold;
    font-size: xx-large;
    color: #00aa6d;
    font-family: "微软雅黑", "黑体", "宋体", sans-serif, serif;
}

#district-hint {
    position: absolute;
    top: 4.5em;
    left: 22em;
    text-shadow: white;
    font-size: 10px;
    font-weight: bold;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif, serif;
}

/* ======================= */
/* |                      |*/
/* |      BEAUTIFY        |*/
/* |                      |*/
/* ======================= */

#content h1 {
    background: #04aa6d;

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);

    color: #ffffff;

    font-family: "å¾®è½¯é›…é»‘", "å®‹ä½“", "é»‘ä½“", Arial;

    font-size: 18px;

    font-weight: bold;

    height: 35px;

    line-height: 25px;

    margin: 18px 0 !important;

    padding: 8px 0 5px 5px;

    text-shadow: 2px 2px 3px #222222;
}

#content h2 {
    background: #0effe3;

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);

    color: #ffffff;

    font-family: "å¾®è½¯é›…é»‘", "å®‹ä½“", "é»‘ä½“", Arial;

    font-size: 15px;

    font-weight: bold;

    height: 30px;

    line-height: 23px;

    margin: 12px 0 !important;

    padding: 5px 0 5px 10px;

    text-shadow: 2px 2px 3px #222222;
}

#content h3 {
    background: #01ffa6;

    border-radius: 6px 6px 6px 6px;

    box-shadow: 0 0 0 1px #5f5a4b, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);

    color: #ffffff;

    font-family: "å¾®è½¯é›…é»‘", "å®‹ä½“", "é»‘ä½“", Arial;

    font-size: 13px;

    font-weight: bold;

    height: 24px;

    line-height: 20px;

    margin: 12px 0 !important;

    padding: 5px 0 5px 10px;

    text-shadow: 2px 2px 3px #222222;
}

emph {
    font-weight: bold;
}

red {
    color: #ff0000;
    font-weight: bold;
}

path {
    stroke: #fff;
}
path:hover {
    opacity: 0.9;
}
rect:hover {
    fill: blue;
}
.axis {
    font: 10px sans-serif;
}
.legend tr {
    border-bottom: 1px solid grey;
}
.legend tr:first-child {
    border-top: 1px solid grey;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}
.legend {
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}
.legendFreq,
.legendPerc {
    align: right;
    width: 50px;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #222;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.title {
    position: absolute;
    left: 3vw;
    top: 0px;
    text-align: center;
    font-weight: bold;
    padding: 2vw;
    font-size: 18px;
    background-color: rgb(43, 42, 42);
    border-radius: 20px;
}

.top ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222;
    bottom: 0px;
    width: 100vw;
}

.top li {
    float: left;
}

.top li a {
    display: block;
    padding: 1em;
    text-align: center;
    color: white;
    text-decoration: none;
}

.top li a.active {
    background-color: #04aa6d;
    color: white;
}

.top li a:hover:not(.active) {
    background-color: #222;
    color: white;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}


